﻿@model SimpleLoginAndRegistration.Models.ReverseNumber


@using (Html.BeginForm("ReverseNumber", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Reverse Number</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <span class="alert-success">
                @TempData["Numbers"];
            </span>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Numbers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numbers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Numbers, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Reverse" class="btn btn-default" />
        </div>
    </div>
</div>
}

